mixin tocChapters(chapters, index)
	if chapters && index <= depth
		ul(class='index-#{index}')
			- each chapter in chapters
				li(class='page-#{chapter.page}', title= chapter.title, data-index= index)
					- var cls = 'chapter-link';
					- if (chapter.title.match(/^\d/)) cls += ' has-number';
					a(class=cls)
						span.chapter-title= chapter.title
						span.page-number= (chapter.page + pageIncrement)
					mixin tocChapters(chapter.subChapters, index + 1)

mixin tocChapters(chapters, 1)
